{% extends '@common.presentation/base_appshell.html.twig' %}

{% block content %}
    <h1 class="etfswui-pagetitle mb-10">{{ 'account.dashboard.title'|trans }}</h1>
    <div class="etfswui-card max-w-2xl mb-8">
        <div class="etfswui-card-title">
            <h2 class="etfswui-card-title-text">{{ 'account.dashboard.account_details'|trans }}</h2>
        </div>
        <div class="etfswui-card-content">
            <p class="mb-6 text-gray-500">{{ 'account.dashboard.welcome_back'|trans({'%email%': app.user.email}) }}</p>
            <dl class="etfswui-description-list">
                <div class="etfswui-description-list-item">
                    <dt class="etfswui-description-list-term">{{ 'common.email'|trans }}</dt>
                    <dd class="etfswui-description-list-description">{{ app.user.email }}</dd>
                </div>
                <div class="etfswui-description-list-item">
                    <dt class="etfswui-description-list-term">{{ 'account.dashboard.member_since'|trans }}</dt>
                    <dd class="etfswui-description-list-description">{{ app.user.createdAt|date('Y-m-d H:i:s') }}</dd>
                </div>
            </dl>
            <div class="mt-8">
                <form action="{{ path('account.presentation.sign_out') }}" method="post" class="inline">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                    <button type="submit" class="etfswui-button-danger">
                        {{ 'account.dashboard.sign_out'|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
