{% extends '@common.presentation/base_appshell.html.twig' %}

{% block content %}
    <h1 class="etfswui-pagetitle mb-10 text-center">{{ 'account.set_password.title'|trans }}</h1>
    <div class="etfswui-card max-w-md mx-auto mb-8">
        <div class="etfswui-card-content">
            <p class="etfswui-text-small mb-6 text-center">{{ 'account.set_password.subheading'|trans }}</p>

            {% for message in app.flashes('error') %}
                <div class="etfswui-alert etfswui-alert-danger mb-6">
                    <div class="etfswui-alert-body">
                        <p class="etfswui-alert-danger-text">{{ message }}</p>
                    </div>
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="etfswui-alert etfswui-alert-success mb-6">
                    <div class="etfswui-alert-body">
                        <p class="etfswui-alert-success-text">{{ message }}</p>
                    </div>
                </div>
            {% endfor %}

            <form action="{{ path('account.presentation.set_password') }}" method="post" class="space-y-6">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('set_password') }}">

                <div>
                    <label for="password" class="etfswui-form-label">{{ 'account.set_password.password_label'|trans }}</label>
                    <input id="password" name="password" type="password" required autocomplete="new-password"
                           class="etfswui-form-input"
                           placeholder="{{ 'account.set_password.password_placeholder'|trans }}">
                </div>

                <div>
                    <label for="password_confirm" class="etfswui-form-label">{{ 'account.set_password.confirm_password_label'|trans }}</label>
                    <input id="password_confirm" name="password_confirm" type="password" required autocomplete="new-password"
                           class="etfswui-form-input"
                           placeholder="{{ 'account.set_password.confirm_password_placeholder'|trans }}">
                </div>

                <div class="etfswui-card-actions justify-end">
                    <button type="submit" class="etfswui-button-default">
                        {{ 'account.set_password.submit'|trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
