{# @var this \App\Common\Presentation\Component\AppNotificationsWidgetComponent #}

<div
        {{ attributes }}
        data-poll="delay(60000)|$render"
>

    <button
            type="button"
            class="rounded-full p-2 text-dark-600 hover:text-primary-600 dark:text-dark-400 dark:hover:text-primary-400 hover:bg-primary-50 dark:hover:bg-primary-900/10"
            data-action="live#action"
            {{ this.widgetIsOpen ? 'data-live-action-param="closeWidget"' : 'data-live-action-param="openWidget"' }}
    >
        {% if this.numberOfUnreadAppNotifications > 0 %}
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
            >
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5"/>
            </svg>

        {% else %}
            <svg
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
            >
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
            </svg>
        {% endif %}
    </button>

    {% if this.widgetIsOpen %}
        <div class="absolute top-[45px] right-[19px] sm:right-[27px] md:right-[27px] lg:right-[35px] w-0 h-0
            border-l-[15px] border-l-transparent
            border-b-[20px] border-b-dark-200 dark:border-b-dark-700
            border-r-[15px] border-r-transparent">
        </div>

        <div class="absolute top-14 right-0 bg-dark-100 dark:bg-dark-800 p-4 rounded-bl-md ring-1 ring-dark-200 dark:ring-dark-700 drop-shadow-xl text-xs text-dark-700 dark:text-dark-300">
            {% if this.latestAppNotifications|length > 0 %}
                <table class="border-separate border-spacing-y-2">
                    {% for notification in this.latestAppNotifications %}
                        <tr>
                            <td class="text-dark-500">{{ notification.createdAt|date('d.m., H:i') }} Uhr:</td>
                            <td class="pl-2">
                                <a
                                        class="jm-link-default"
                                        href="{{ notification.url }}"
                                >
                                    {{ notification.message }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                No unread notifications.
            {% endif %}
        </div>
    {% endif %}

    {% if this.numberOfUnreadAppNotifications > 0 %}
        <div class="absolute ml-5 top-4 bg-primary-600 rounded-full w-2 h-2"></div>
    {% endif %}
</div>
